li {
    background-color: #222222;
    width: 90%;
    padding: 10px 10px 10px 25px;
    border-radius: 8px;
    margin-bottom: 22px;
}

.Dbtn {
    cursor: pointer;
    float: right;
    background-color: blue;
    padding: 3px 25px 3px 25px;
    border-radius: 8px;
}